<hr>
<h2>Habilidades</h2>
<div class="container-fluid">
    <div class="row">
        <div *ngFor="let skill of skills" class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{skill.nombre}}</h5>
                    <a class="btn btn-primary" routerLink="/eskill/{{skill.id}}">Editar</a>
                    <a class="btn btn-danger" (click)="deleteSkill(skill.id)">Eliminar</a>
                </div>
            </div>
        </div>
        <br>
        </div>
    <div class="row">
        <div>
        <a class="btn btn-success" routerLink="/nskill">Nueva Habilidad</a>
        </div>
    </div>
</div>

